# SonarQube local — copia este archivo a .env y pega tu token
# Generar en: http://localhost:9000 → My Account → Security → Global Analysis Token
SONAR_TOKEN=sqa_e8c27f1673c548e3c08fe3d267ced15cc34d57ad
